yfinance==0.2.32
psycopg2-binary==2.9.9
pg8000==1.30.0
cloud-sql-python-connector[pg8000]==1.12.0
pandas==2.2.3
numpy==2.1.0
requests==2.32.3
scikit-learn==1.5.2
google-cloud-aiplatform==1.70.0
SQLAlchemy==2.0.35